[Verification]
name=diningphils
workdir=/Users/mitchellalbers/eclipse-workspace/gryphon/org.modelevolution.models/model/diningphils
initial=2-philsInit.xmi
#initial=5-philsInit.xmi
#initial=7-philsInit.xmi
#initial=8-philsInit.xmi
#initial=9-philsInit.xmi
transformation=diningphils.henshin
omit=Philosopher:id
omit=Fork:id
rules=hungry,left,right,release
properties=reach_Hungry
#bad_TwoPhilsHoldSameFork,bad_PhilHoldsWrongFork
#reach_Hungry,reach_twoPhils,bad_Deadlock,bad_TwoPhilsHoldSameFork,bad_PhilHoldsWrongFork

# [Verification]
# name=diningphils
# workdir=/Users/mitchellalbers/eclipse-workspace/gryphon/org.modelevolution.models/model/diningphils
# initial=3-philsInit.xmi
# transformation=diningphils.henshin
# omit=Philosopher:id
# omit=Fork:id
# properties=bad_Deadlock

